<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="Discord.Net" version="0.9.6" targetFramework="net452" />
  <package id="Discord.Net.Commands" version="0.9.6" targetFramework="net452" />
  <package id="GiphyDotNet" version="1.0.0.0" targetFramework="net452" />
  <package id="Imgur.API" version="4.0.1" targetFramework="net452" />
  <package id="Jint" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="TweetinviAPI" version="1.2.0.1" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
  <package id="YoutubeSearch.dll" version="1.1" targetFramework="net452" />
</packages>